{{!< default}}
<main class="wrapper">
    
    {{> "navigation"}}

    <header class="header">
        <section class="container">
            <h1>Officer</h1>
            <p>
                The NLP Bot Framework
                <br>
                <i><small>Currently in Alpha!</small></i>
            </p>
        </section>
    </header>
    <section class="container">
        <h4>Hi,</h4>
        <p>
            I'm Officer, I specialise in taking and giving orders! Perhaps I could be a good fit for your team?
        </p>
    </section>
    <section class="container">
        <h4>What am I?</h4>
        <p>
            I'm a framework designed for building automation bots using natural language processing (NLP).
        </p>
    </section>
    <section class="container">
        <h4>Give me a go!</h4>
        <p>
            Currently I'm in alpha which means I have limited functionality and I'm really just a "tech demo".
            But soon you'll be able to build something much like me yourself! In fact, <strong>you already can!</strong>
        </p>
        <p>
            Rather than hiring your next employee, try building one! <a href="https://github.com/bluehatbrit/officebot">Fork me</a> and give it a go.
        </p>
    </section>
</main>